body {
  background-color: darkgray;
  font-family: 'Cabin', sans-serif;
}

.container {
  margin-top: 100px;
  display: grid;
  justify-items: center;
  gap: 20px;
} 

.head {
}

.movie {
  justify-self: center;
  text-align: center;
}